<div class="add-inventory-container">
  <h2>Add Inventory Item</h2>
  <form class="add-inventory-form" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" required>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" formControlName="quantity" required min="0">

    <label for="price">Price:</label>
    <input type="number" id="price" formControlName="price" required>

    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>

    <button type="submit">Save Changes</button>
  </form>
</div>
